
// -----------------------------------------------------------------------------
// This file contains custom scss bootstrap.
// -----------------------------------------------------------------------------

// Headings
h1{
	@include font-set('Fira Sans', $size-50, var(--bs-dark), 0,  1.2);
	@media (max-width: $break-lg) {
		font-size: $size-34;
	}
	font-weight: 600;
}
h2{
	@include font-set('Fira Sans', $size-40, var(--bs-dark), 0,  1.2);
	font-weight: 600;
	@media (max-width: $break-lg) {
		font-size: $size-30;
	}
}
h3{
	@include font-set('Fira Sans', $size-26, var(--bs-dark), 0,  1.2);
	font-weight: 600;
}
h4{
	@include font-set('Fira Sans', $size-22, var(--bs-dark), 0,  1.2);
	font-weight: 600;
}

h5{
	font-size: $size-14 !important;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px !important	;
}
// buttons

.btn{
	&-primary{
		&-soft {
		    background-color: $brand-color-light;
		    color: #335eea;
		    padding: .8125rem 1.25rem;
		    font-size: $size-16;
		    border:1px solid $brand-color-light;
		    &:hover{
				text-decoration: none;
				background-color: $brand-color-s;
				border-color:$brand-color-s;
			}
		}
		&-line{
			background-color: $color-negro-0;
		    color: $brand-color;
		    padding: .8125rem 1.25rem;
		    font-size: $size-16;
		    border:2px solid $brand-color;
		    @media (max-width: $break-lg) {
				padding: .6125rem 0.9rem;
			}
		    &:hover{
				text-decoration: none;
				background-color: $brand-color-light;
				color: $brand-color-s;
			}
			&--white{
				border:2px solid var(--bs-white);
				color:var(--bs-white);
				padding: .8125rem 1.25rem;
		    	font-size: $size-16;
		    	 &:hover{
					text-decoration: none;
					background-color: $brand-color-light;
					color: $brand-color-s;
				}
			}
		}
	}
	&--custom{
		@include font-set('Fira Sans', $size-18, var(--bs-blue), 0,  1.2);
		font-weight: 600;
	}
	&--nolink{
		@include font-set('Fira Sans', $size-18, var(--bs-blue), 0,  1.2);
		font-weight: 600;
	}

}

// custom-clases
.titlepre{
	text-transform:uppercase;
	font-size: $size-13;
	letter-spacing: 2px;
	margin-bottom: 0.3rem;
	position: relative;
	padding-left: 30px;

	&::before{
		content: '';
		width: 20px;
		height: 1px;
		background-color:var(--bs-dark);
		position: absolute;
		top:8px;
		left: 0;
	}
}

// footer
footer{
	background-color:$brand-color-light;
	//border-top:1px solid $color-negro-10;
	padding-bottom: 2rem;
	.feather{
		width: 36px;
  		height: 36px;
  		stroke-width: 1;
	}
}
// Parallax
.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

//overlay
.overlay{
	position: relative;
	&::before {
	    content: "";
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    border-radius: inherit;
	    z-index: 0;
	}
	&-black::before {
    	background-color: #161c2d;
	}
	&-80::before {
    	opacity: .8;
	}
	&-60::before {
    	opacity: .6;
	}
	&-40::before {
    	opacity: .4;
	}

}

// headroom
/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
 .header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}
.animated {
	animation-duration: .5s;
	animation-fill-mode: both;
	will-change: transform, opacity
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%)
	}
	100% {
		-webkit-transform: translateY(0)
	}
}

@-moz-keyframes slideDown {
	0% {
		-moz-transform: translateY(-100%)
	}
	100% {
		-moz-transform: translateY(0)
	}
}

@-o-keyframes slideDown {
	0% {
		-o-transform: translateY(-100%)
	}
	100% {
		-o-transform: translateY(0)
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%)
	}
	100% {
		transform: translateY(0)
	}
}

.animated.slideDown {
	animation-name: slideDown
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(0)
	}
	100% {
		-webkit-transform: translateY(-100%)
	}
}

@-moz-keyframes slideUp {
	0% {
		-moz-transform: translateY(0)
	}
	100% {
		-moz-transform: translateY(-100%)
	}
}

@-o-keyframes slideUp {
	0% {
		-o-transform: translateY(0)
	}
	100% {
		-o-transform: translateY(-100%)
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(0)
	}
	100% {
		transform: translateY(-100%)
	}
}

.animated.slideUp {
	animation-name: slideUp
}


//Hover animations

//lift

.lift {
	-webkit-transition: box-shadow .25s ease, -webkit-transform .25s ease;
	transition: box-shadow .25s ease, -webkit-transform .25s ease;
	transition: box-shadow .25s ease, transform .25s ease;
	transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease
}

.lift:focus,
.lift:hover {
	box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1)!important;
	transform: translate3d(0, -3px, 0)
}

.lift-lg:focus,
.lift-lg:hover {
	box-shadow: 0 2rem 5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .05)!important;
	transform: translate3d(0, -7px, 0)
}

