footer
	.container
		.row.pt-4.pt-md-11.justify-content-between
			.col-lg-3.mb-sm-5.border-md-bottom
				.footer--logo
					img(src="/assets/images/logo-ocad.png")
				p.mt-4
					small(style="color:var(--bs-gray)") Lorem ipsum dolor sit amet, sed diam nonumy eirmod.
				
			.col-lg-2.mb-sm-5.border-md-bottom
				h5 Contácto
				p(style="color:var(--bs-gray)")
					small(style="color:var(--bs-)")
						|Jan skduooelka<br>
						|+1 (805) 235-0809<br>
						a(href="") jan.skudooelka@ocad.com
				h5 Siguenos en:
				p
					a(href="")
						i(class=" d-md-inline ms-2" data-feather="youtube")
					a(href="")
						i(class=" d-md-inline ms-3" data-feather="linkedin")
			.col-lg-6.mb-sm-5
				h4(style="color:var(--bs-blue)") Lo invitamos a ser parte de nuestro proyecto
				form
					.row.mb-2
						.col-12
							input(class="form-control" type="text" placeholder="Nombre Completo" aria-label="")
					.row.mb-2
						.col
							input(class="form-control" type="text" placeholder="Correo Electrónico" aria-label="")
						.col
							input(class="form-control" type="text" placeholder="Celular" aria-label="")
					.row
						.col-12
							input(class="form-control" type="text" placeholder="Default input" aria-label="")
					.row.mt-4
						.col-12
							button(type="submit" class="btn btn-primary") Enviar
		.row.pt-md-11
			.col.text-center
				small
					|©2021 Observatorio Colombiano de Atención Domiciliaria - Todos los derechos reservados.

				