footer
	.container
		.row.pt-4.pt-md-11.justify-content-between
			.col-3
				.footer--logo
					img(src="/assets/images/logo-ocad.png")
				p.mt-4
					small Lorem ipsum dolor sit amet, sed diam nonumy eirmod.
				p.mt-4
					.d-inline
						small Siguenos en:
					a(href="")
						i(class=" d-none d-md-inline ms-2" data-feather="youtube")
					a(href="")
						i(class=" d-none d-md-inline ms-3" data-feather="linkedin")
			.col-2
				h5 Contácto
			.col-6
				