header(id="header" class="header header--fixed hide-from-print")
	.navbar.navbar-expand-lg.navbar-light.bg-white
		.container
			a(class="navbar-brand" href="#") 
				img(src="/assets/images/logo-ocad.png")
			button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			div(class="collapse navbar-collapse" id="navbarSupportedContent")
				ul.navbar-nav.ml-auto
					li.nav.item 
						a.nav-link Inicio
					li.nav.item 
						a.nav-link Acerca del Ocad
					li.nav.item 
						a.nav-link Portal de Datos
					li.nav.item 
						a.nav-link Publicaciones
				a(class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank") Contáctenos



